<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbaradmin.ejs') %>

<div class="container">
    <hr>
    <div class="card">
            <div class="card-header">
             <h2>Edição de usuário</h2>
            </div>
    <div class="card-body">
        <form method="POST" action="/user/update">
            <label >Nome: </label>
            <input type="hidden" name="idUser" value="<%= user.idUser %>">
            <input class="form-control" type="text" name="name" required="true" value="<%= user.name%>"><br>
            <label >CPF: </label>
            <input class="form-control" type="number" name="cpfUser" required="true" value="<%= user.cpfUser%>"><br>
            <label>Email: </label>
            <input class="form-control" type="email" name="email" required="true" value="<%= user.email%>"><br>
            <label>Senha: </label>
            <input class="form-control" type="password" name="password" placeholder="********" required="true"><br>
            <button class="btn btn-success">Atualizar</button>
        </form>
        </div>
    </div>
</div>

<%- include ('../partials/header.ejs') %>