<%- include ('../partials/header.ejs') %>
<%- include ('../partials/navbaradmin.ejs') %>

<div class="container">
    <hr>
    <h2>Usuários</h2>
    <a class='btn btn-success' href='/users/new'>Inserir novo usuário</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user =>{ %>
                <tr>
                    <th><%= user.idUser %></th>
                    <th><%= user.name %></th>
                    <th><%= user.cpfUser %></th>
                    <th><%= user.email %></th>
                    <th>
                        <form method='POST' action='/user/edit' style='display: inline'>
                        <input type="hidden" name='id' value='<%= user.idUser %>'>
                        <a href='/user/edit/<%= user.idUser %>' class='btn btn-warning' >Editar</a>
                        </form>

                        <form method='POST' action='/user/delete' style='display: inline' onsubmit='confirmarDelecao(event, this)'>
                            <input type="hidden" name='id' value='<%= user.idUser %>'>
                        <button class='btn btn-danger'>Deletar</button>
                        </form>
                    </th>
                </tr>
                
            <% }) %>
        </tbody>
    </table>
</div>

<%- include ('../partials/footer.ejs') %>

<script>
    function confirmarDelecao(event, form){
        event.preventDefault();
        var decision = confirm('Deseja deletar o usuário?');
        if (decision){
            form.submit();
        }
    }
</script>